// font sizes

$fontsize12: 12px;
$fontsize14: 14px;
$fontsize16: 16px;
$fontsize18: 18px;
$fontsize20: 20px;

// colors

$white: #ffffff;
$black: #000000;

$darkblue: #071330;
$midnightblue: #0c4160;
$bluegray: #738fa7;
$mistyblue: #c3ceda;

$blueblack: #151b25;
$charcoal: #214358;

$grey4: #161719;
$grey3: #313136;
$grey2: #4e4f55;
$grey1: #6e6f78;
